$main_color: #483bc8;
$hover_color: #7e74db;
$purple_color: #9560af;
$blue_sky: #e9effd;

$primary_color: #f1faf1;
$green_color: #129f43;

$warning_color: #fff1e5;
$orange_color: #ff954a;

$secondary_color: #f1f1f1;
$gray_color: #c2c2c2;

$white_color: #fff;
$black_color: #000;
